@use 'sass:color';

@use '@material/theme/color-palette';

// Svelte Colors!
@use '@material/theme/index' as theme with (
  $primary: color-palette.$orange-900,
  $secondary: color-palette.$grey-800,
  $surface: #fff,
  $background: color-palette.$orange-100,
  $error: color-palette.$red-800,
);

@use "@material/elevation/mdc-elevation";

$link: color-palette.$cyan-300;

html,
body {
  background-color: theme.$background;
  color: theme.$on-surface;
}

a {
  color: $link;
}

a:visited {
  color: color.scale($link, $lightness: -35%);
}

.border {
  padding: 5px;
  border-radius: 8px;
  background-color: color.scale(theme.$primary, $alpha: -35%);
}

.border-out {
  border-radius: 8px !important;
  border: color.scale(theme.$primary, $alpha: -35%) 5px solid !important;
}